@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero */
.video {
    z-index: -12;
    position: relative;
    max-height: 31rem;
    min-height: 10rem;
    overflow: hidden;
    /*video{
        margin-top: -2rem;
        z-index: -1;
        width: auto;
        display: block;
        @include m.tablet{
            width: 120rem;
            align-items: center;
        }
    }*/
}
.video .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video h2 {
    color: #f9ebeb;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 7ch;
    animation: typing 1s steps(20), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink {
    50% {
    border-color: transparent;
    }
}

.imagen-sushi {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Especialidades */
.especialidades {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #292c37;
    /* background-color: #374151; */
}

@media (max-width: 1600px) {
    .especialidades {
        grid-template-columns: 1fr;
    }
}

/* Whatsapp Icono */
.btn-whatsapp {
    position: relative;
}

.btn-whatsapp::before,
.btn-whatsapp::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: onda 1.7s infinite;
}

.btn-whatsapp::before {
    animation-delay: 1s;
}

.btn-whatsapp::after {
    animation-delay: 1.3s;
}

.btn-whatsapp img {
    position: relative;
    z-index: 2;
}

@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
